body {
    width: 100%;
    display: flex;
    justify-content: center;
}

.game-holder {
    display: flex;
    margin-top: 125px;
    width: 1560px;
    height: 720px;
    /*background-color: red;*/
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.1); /*Temporal*/
}

@media (max-width: 1600px) {
    body {
        justify-content: start;
    }
}

#game {
    position: relative;
    z-index: 0;
    /*background-color: black;
  width: 1470px;
  height: 750px;*/
    margin-left: -20px;
}

#menu {
    position: relative;
    z-index: 1;
    width: 300px;
    height: 680px;
    padding: 20px;

    background-color: rgb(245, 245, 245);
    border-radius: 0 20px 20px 0;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.1);
}

.info-holder {
    background-color: rgb(218, 218, 218);
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.07);
}

#player-selection {
    z-index: 0;
    width: 450px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#player-selection > .player-holder {
    position: relative;
    height: 80px;
    width: 450px;
}

.player-holder > .player-txt {
    font-size: 2em;
    max-width: 300px;
    margin-left: 20px;
}

.player-holder > .player-icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.player-holder {
    padding: 0 10px;
    display: flex;
    align-items: center;
    height: 50px;
}

.select-arrow {
    font-size: 2.5em;
    margin: 0px 10px;
    color: rgb(58, 58, 58);
}

#select-left,
#select-right {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
}

#select-left:active > i,
#select-right:active > i {
    color: rgb(128, 128, 128);
}

.ready {
    opacity: 0;
    position: absolute;
    right: 30px;
    color: rgb(83, 163, 83);
    font-size: 2.5em;

    transition: opacity 200ms;
}

#start-game {
    margin: 15px 0px;
    border-color: rgb(219, 68, 68);
    color: rgb(219, 68, 68);
    font-family: 'Dosis';
    background-color: transparent;
    border-style: solid;
    width: 150px;
    height: 50px;
    font-size: 1.5em;
    border-width: 5px;
    border-radius: 15px;
}

#start-game:disabled {
    border-color: rgb(83, 163, 83);
    color: rgb(83, 163, 83);
}

.player-holder {
    box-shadow: 0px 1px rgb(160, 160, 160);
}
.player-holder:last-child {
    box-shadow: 0px 0px rgb(160, 160, 160);
}

.player-txt {
    flex-shrink: 0;
    flex-grow: 0;
    font-family: 'Dosis';
    font-weight: 700;
    font-size: 1.4em;
    margin-left: 10px;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player-icon {
    flex-shrink: 0;
    flex-grow: 0;
    width: 35px;
    height: 35px;
    background-color: blue;
    border-radius: 20px;
}

.player-points {
    position: absolute;
    right: 30px;
    font-size: 1.5em;
    font-weight: 700;
    color: rgb(151, 132, 24);
}

#items-holder {
    position: absolute;
    bottom: 20px;
    width: 260px;
    height: 230px;
    padding: 10px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item-ico {
    flex-grow: 0;
    flex-shrink: 0;
    background-color: rgb(204, 204, 204);
    border-radius: 15px;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
}
